{
    "$schema": "https://json.schemastore.org/prettierrc",
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "plugins": ["prettier-plugin-astro"],
    "tabWidth": 4
}
